#racc_menu{
    background-color: #b1dfbb;
    text-align: center;
}
#racc_recherche{
    background-color: #ffc107;
}
#titre_contenu{
    background-color: aquamarine;
    text-align: left;
}
#titre{
    background-color: #495057;
}
